/.vs
/app/ProjectContar.App/obj
/app/ProjectContar.App/bin
/app/ProjectContar.Domain/obj
/app/ProjectContar.Domain/bin
/tests/ProjectContar.Tests.Unitaries/obj
/tests/ProjectContar.Tests.Unitaries/bin
/app/ProjectContar.WebApp/obj
/app/ProjectContar.WebApp/bin
/app/ProjectContar.IoC/bin
/app/ProjectContar.IoC/obj
/app/ProjectContar.Infra.EF/obj
/app/ProjectContar.Infra.EF/bin
