.custom-message-font {
    font-weight: bold;
    font-size: larger;
}

.custom-button-120 {
    width: 120px;
}

.custom-panel-title {
    font-weight: bold;
    font-size: x-large;
}

.datepicker-modal {
    background-color: transparent !important;
    box-shadow: none !important;
}
